@import "./../../../Theme/style";

html {
  margin: 0;
  padding: 0;
}

#navbar{
  z-index: 1000;
}

body {
  background-image: url("./../../../assets/index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  #pagebody {
    display: block;
    font-size: 2vw;
    width: 98vw;
    background-color: rgba(20, 20, 20, 0.753);
    color: white;
    .cities{
      column-count: 3;
      h1, p{
        column-span: all;
      }
      ul{
        list-style-type: none;
      }
    }
  }
  .social-box {
    margin-left: 0;
    width: 100%;
    height: 8vw;
    display: block;
    float: right;
    background-color: black;
    .copyTxt {
      padding: 5px;
      margin-top: 1vw;
      font-size: 1vw;
      color: hsl(0, 0%, 99%);
    }

    .icons {
      display: inline;
      padding-top: 1vw;
      float: right;
      ul {
        overflow: hidden;
        list-style-type: none;
        li {
          display: inline;
          a {
            text-align: center;
            transition: all 0.3s ease;
            color: white;
            font-size: 20px;
          }
          i {
            height: 2vw;
            width: 2vw;
          }
          a:hover {
            background-color: #000;
          }
          .facebook {
            background: #3b5998;
            color: white;
          }

          .twitter {
            background: #55acee;
            color: white;
          }

          .instagram {
            background: hsl(320, 71%, 46%);
            color: white;
          }
        }
      }
    }
  }
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: inherit;
    width: 100%;
  }
}

section {
  margin: 0;
  display: block;
}
